<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507383841989-hvpdmv4c38l5ie9ljao8ave2pm7nkimr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507383841989-hvpdmv4c38l5ie9ljao8ave2pm7nkimr</string>
	<key>API_KEY</key>
	<string>AIzaSyCdpUTdQe0C1yEZhl5pxMN2SxqWeO5sURI</string>
	<key>GCM_SENDER_ID</key>
	<string>507383841989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jay.stronger</string>
	<key>PROJECT_ID</key>
	<string>stronger-4804f</string>
	<key>STORAGE_BUCKET</key>
	<string>stronger-4804f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507383841989:ios:cb4d94cc5482c823415cac</string>
</dict>
</plist>